<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Change Password</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <ion-grid>
            <ion-row class="input-row">
                <ion-col size-lg class="input-field">
                    <ion-item lines="none">
                        <app-show-hide-password>
                            <ion-input type="password" required="true" placeholder="Current Password" name="currentPassword"  ngModel required></ion-input>
                        </app-show-hide-password>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="input-row">
                <ion-col size-lg class="input-field">
                    <ion-item lines="none">
                        <app-show-hide-password>
                            <ion-input type="password" required="true" placeholder="New Password" name="newPassword" minlength="8" ngModel required></ion-input>
                        </app-show-hide-password>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="input-row">
                <ion-col size-lg class="input-field">
                    <ion-item lines="none">
                        <app-show-hide-password>
                            <ion-input type="password" required="true" placeholder="Confirm New Password" name="confirmPassword" minlength="8" ngModel required></ion-input>
                        </app-show-hide-password>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="btn">
                <ion-col>
                    <ion-button shape="round"  type="submit" [disabled]="form.invalid">CHANGE PASSWORD</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>