<ion-content class="registration">
    <div class="holder">
        <img src="assets/img/frog.svg" alt="Ranaphibian Logo" class="login-logo">
    </div>
    <div class="container">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <ion-grid>
                <ion-row class="input-row">
                    <ion-col size-lg class="input-field">
                        <ion-item lines="none">
                            <ion-input required="true" placeholder="First Name" name="firstname" ngModel required></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="input-row">
                    <ion-col size-lg class="input-field">
                        <ion-item lines="none">
                            <ion-input required="true" placeholder="Last Name" name="lastname" ngModel required></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="input-row">
                    <ion-col size-lg class="input-field">
                        <ion-item lines="none">
                            <ion-input required="true" placeholder="Username" name="username" ngModel required></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="input-row">
                    <ion-col size-lg class="input-field">
                        <ion-item lines="none">
                            <app-show-hide-password>
                                <ion-input type="password" required="true" placeholder="Password" name="password" minlength="8" ngModel required></ion-input>
                            </app-show-hide-password>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="input-row">
                    <ion-col size-lg class="input-field">
                        <ion-item lines="none">
                            <app-show-hide-password>
                                <ion-input type="password" required="true" placeholder="Confirm Password" name="confirmpassword" minlength="8" ngModel required (ionBlur)="checkPasswords(form)"></ion-input>
                            </app-show-hide-password>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <p class="validation-msg" *ngIf="!passwordMatch">Passwords don't match</p>
                <ion-row class="btn">
                    <ion-col>
                        <ion-button shape="round" type="submit" [disabled]="form.invalid || !passwordMatch">SIGN UP</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>