<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>About</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding dark-bg">
	<div class="app-logo"><img src="assets/img/logo.svg" alt="The Frog Logo" class="login-logo"></div>
	<ion-col>
		<ion-row>
			<p class="about-app">THE FROG application features virtual dissection, pre-test and post-test, review quizzes, and lessons to better understand the topic all about the frog.</p>
		</ion-row>
		<ion-row>
			<h5>References</h5>
			<p class="about-app">Amphibians of the Philippines's check list. (n.d.). iNaturalist. <a href="https://www.inaturalist.org/lists/95066-Amphibians-of-the-Philippiness-Check-List">https://www.inaturalist.org/lists/95066-Amphibians-of-the-Philippiness-Check-List</a></p>
			<p class="about-app">Hidalgo, F. (1987). Human and frog anatomy atlas. Rex Bookstore.</p>
			<p class="about-app">Minkoff, E. C. (2013). A laboratory guide to frog anatomy. Elsevier.</p>
			<p class="about-app">Walag, A. P. (2021). Biology for science teacher 1 laboratory manual (1st ed.).</p>
		</ion-row>
		<ion-row><h6>The Frog Team</h6></ion-row>
		<ion-row>
			<p class="about-app">Auditor, Czarisse Mae S.</p>
			<p class="about-app">Luyong, Jayrill Mae D.</p>
			<p class="about-app">Minitiva, Nieva O.</p>
			<p class="about-app">Mofar, Zarahemla</p>
		</ion-row>
		<ion-row><h6>Developer</h6></ion-row>
		<ion-row>
			<p class="about-app">Alegbeleye, Hazel Joy</p>
		</ion-row>
		<ion-row>
			<span class="app-version">The Frog v1.0</span>
		</ion-row>
	</ion-col>
</ion-content>
