ion-content{
    --background: linear-gradient(rgb(33, 92, 106), rgb(21, 51, 59)) !important;
}

div.app-logo { 
    text-align: center; 
    padding: 25px 0;
} 

div.app-logo img { 
    width: 60vw;
} 

p.about-app, span.app-version, h5, h6 {
    color: white !important;
    width: 100%;
    margin: 10px 0!important;
    text-align: justify;
}

a {
    color: #ffffff !important;
}

span.app-version {
    margin-top: 30px;
}