<ion-content class="login">
    <div class="holder">
        <img src="assets/img/logo.svg" alt="The Frog Logo" class="login-logo">
    </div>
    <div class="container  ion-padding">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <ion-grid>
                <ion-row class="input-row">
                    <ion-col size="1" size-lg class="input-icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-lg class="input-field">
                        <ion-item lines="none">
                            <ion-input required="true" placeholder="Username" name="username" ngModel></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="input-row">
                    <ion-col size="1" size-lg class="input-icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </ion-col>
                    <ion-col size-lg class="input-field">
                        <ion-item lines="none">
                            <app-show-hide-password>
                                <ion-input type="password" required="true" placeholder="Password" name="password" ngModel></ion-input>
                            </app-show-hide-password>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="forgot-password">
                    <ion-col>
                        <ion-router-link class="link" (click)="goToResetPassword()">Forgot password?</ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row class="btn">
                    <ion-col>
                        <ion-button shape="round" type="submit">SIGN IN</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row class="sign-up">
                    <ion-col>
                        <span>New user? </span>
                        <ion-router-link (click)="goToRegistration()" class="link">Sign Up</ion-router-link>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>