<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Virtual Lab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="container">
      <div class="table">
        <ion-slides pager="false" [options]="sliderOptions" #sliderWithNavigation
          (ionSlideDidChange)="SlideDidChange(gallerySlider,sliderWithNavigation)">
          <ion-slide>
            <img class="frog" src="assets/img/frog-parts/{{currentFrogDisplay[0].filename}}">
          </ion-slide>
        </ion-slides>
      </div>
      <div class="description">
        <span class="h6 title">NOTE:</span>
        <p class="desc">Before you start the virtual dissection, make sure to familiarize the tools. Scroll down and read the different TOOLS.</p>
      </div>
      <div class="description">
        <span class="h6 title">VIRTUAL DISSECTION</span>
        <p class="desc">To start the virtual dissection, click the plus (+) button beside the frog. Click it each time the tools disappear. The tools attached are the PIN (📌), SCALPEL (🔪), and SCISSOR (✂️).</p>
        <br>
        <span class="h6 title">INSTRUCTIONS:</span>
        <ol>
          <li>Click the PIN (📌) to pinch the frog.</li>
          <li>Click the SCALPEL (🔪) to make a line.</li>
          <li>Once again, click the PIN (📌) to open new layer.</li>
          <li>Click the Scissor (✂️) to open the abdominal part of the frog.</li>
          <li>Click the PIN (📌).</li>
          <li>Lastly, click the word "NEXT" that will appear on the screen.</li>
        </ol>
      </div>
      <div class="tools">
        <p class="h5 title">TOOLS</p>
        <ion-row>
          <img class="tool" src="assets/img/tools/forceps.png">
          <div class="tool-desc">
            <p class="h6 title">Forceps</p>
            <p class="desc">Instruments that are used to grip and hold items. It is a set of essential tools that are commonly used in laboratory and clinical settings. They're made of steel or nylon, and the tips, or ends, come in a variety of shapes and sizes, including straight, curved, blunt, rat tooth, flat, and fine pointed.</p>
          </div>
        </ion-row>
        <ion-row>
          <img class="tool" src="assets/img/tools/scalpel.png">
          <div class="tool-desc">
            <p class="h6 title">Scalpel</p>
            <p class="desc">Scalpel blades come in a variety of sizes, each of which serves a particular purpose, and have been used "for performing skin incisions, tissue dissections, and a variety of surgical methods since the beginning of 'modern' surgery."</p>
          </div>
        </ion-row>
        <ion-row>
          <img class="tool" src="assets/img/tools/scissors.png">
          <div class="tool-desc">
            <p class="h6 title">Scissors</p>
            <p class="desc">It is use for cutting tissues.</p>
          </div>
        </ion-row>
        <ion-row>
          <img class="tool" src="assets/img/tools/needle.png">
          <div class="tool-desc">
            <p class="h6 title">Needle</p>
            <p class="desc">Needles are used to dissect, separate, and manipulate tissue without tearing it. </p>
          </div>
        </ion-row>
        <ion-row>
          <img class="tool" src="assets/img/tools/magnifying-glass.png">
          <div class="tool-desc">
            <p class="h6 title">Magnifying Glass</p>
            <p class="desc">Used for viewing materials up close with more details.</p>
          </div>
        </ion-row>
        <ion-row>
          <img class="tool" src="assets/img/tools/dissecting-spatula.png">
          <div class="tool-desc">
            <p class="h6 title">Dissecting Spatula</p>
            <p class="desc">The dissecting spatula is used for extraction. It may also be used to keep tissues from recovering (as in keeping out of sight again) your subject.</p>
          </div>
        </ion-row>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="actionHandler(1)">
        <ion-icon name="cut-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="actionHandler(2)">
        <img class="fab-icon" src="assets/icon/scalpel.png">
      </ion-fab-button>
      <ion-fab-button (click)="actionHandler(3)">
        <img class="fab-icon" src="assets/icon/pin.png">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
