<ion-content class="forgot-password">
  <div class="holder">
      <img src="assets/img/frog.svg" alt="Ranaphibian Logo" class="login-logo">
  </div>
  <div class="container">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <ion-grid>
            <ion-row class="input-row">
                <ion-col size-lg class="input-field">
                    <ion-item lines="none">
                        <ion-input required="true" placeholder="Username" name="username" ngModel></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
              <ion-row class="input-row">
                  <ion-col size-lg class="input-field">
                      <ion-item lines="none">
                          <app-show-hide-password>
                              <ion-input type="password" required="true" placeholder="New Password" name="password" minlength="8" ngModel></ion-input>
                          </app-show-hide-password>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row class="input-row">
                  <ion-col size-lg class="input-field">
                      <ion-item lines="none">
                          <app-show-hide-password>
                              <ion-input type="password" required="true" placeholder="Confirm Password" name="confirmpassword" minlength="8" ngModel></ion-input>
                          </app-show-hide-password>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row class="btn">
                  <ion-col>
                      <ion-button shape="round" type="submit" [disabled]="form.invalid">RESET PASSWORD</ion-button>
                  </ion-col>
              </ion-row>
              <ion-row class="sign-up">
                <ion-col>
                    <p>Already have an account?</p>
                    <ion-router-link (click)="goToLogin()" class="link">Sign In</ion-router-link>
                </ion-col>
            </ion-row>
          </ion-grid>
      </form>
  </div>
</ion-content>