<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="topics">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>TOPICS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>SETTINGS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

